.Contact{
    width: 100%;
    height: 50vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Contact .card{
    width: 150px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}